@page
@model Portfolio.Pages.MainModel
@{
    ViewData["Title"] = "Main";
}
<!DOCTYPE html>
<body>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <div class="panels">
        <div class="panel panel1">
            <p>Skills include but are not limited too:</p>
            <p>Let's</p>
            <p>ASP.NET Core, C#, JavaScript, Front-End, Back-End, Devops</p>
        </div>
        <div class="panel panel2">
            <p>Personal Skills:</p>
            <p>Make</p>
            <p>Collaberation, Humility, and a hunger to learn more</p>
        </div>
        <div class="panel panel3">
            <p>Experience</p>
            <p>Something</p>
            <p>Today</p>
        </div>
        <div class="panel panel4">
            <p>Give</p>
            <p>Great</p>
            <p>You can</p>
        </div>
        @* Thinking about how i can integrate a sort of a bio, maybe i make a splash page *@
    </div>
    <script>
        const panels = document.querySelectorAll('.panel');
        function toggleOpen() {
            console.log('Hello');
            this.classList.toggle('open');
        }
        function toggleActive(e) {
            console.log(e.propertyName);
            if (e.propertyName.includes('flex')) {
                this.classList.toggle('open-active');
            }
        }
        panels.forEach(panel => panel.addEventListener('click', toggleOpen));
        panels.forEach(panel => panel.addEventListener('transitionend', toggleActive));
    </script>
</body>

